$darkGray: #2e2e2e;
$yellow: #f8d220;
$white: #ffffff;

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    color: $darkGray;
}

.main {
    width: 91%;
    margin: 0 auto;
}

.title {
    margin: 35px 0;
    font-size: 22px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}