// Color
$darkGray: #2e2e2e;
$yellow: #f8d220;
$white: #ffffff;

html {
    font-size: 10px;
}

body {
    font-family: 'Raleway', sans-serif;
    color: $darkGray;
    font-size: 10px;
    font-weight: 300;
    letter-spacing: 0.1rem;
    line-height: 1.2;
}

p {
    text-align: justify;
}

.main {
    width: 91%;
    margin: 0 auto;
}

.title {
    margin: 35px 0;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;

    span {
        font-size: 18px;
        font-weight: 500;
    }
}
